.admin-teachers {
    margin-left: 135px;
    padding: 20px;
    min-height: 100vh;
  }

  .expertise-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 5px;
  }
  
  .expertise-item  {
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 13px;
    color: #333;
  }




  @media (max-width: 768px) {

    .admin-teachers {
      margin-left: 0px;
     
    
    }
    .admin-teachers h2 {
      /* color: red; */
      font-size: 20px;
  }
  }

  
  
